<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <p class="text-white-50">
                    "It was sad, like those businessmen who came to work in serious clothes but wore colorful ties in a mad, desperate attempt to show there was a free spirit in there somewhere."
                </p>
            </div>
        </div>
    </div>
</section>