<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Let's work together!</h2>
            </div>
        </div>
    </div>
</section>
<section class="contact-section bg-black" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            {% for card in site.cards %}
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-{{ card.icon }} text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">{{ card.name }}</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">{{ card.text }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="social d-flex justify-content-center">
            {% for network in site.social %}
            <a href="{{ network.url }}" class="mx-2"><i class="fab fa-{{ network.title }}"></i></a>
            {% endfor %}
        </div>
    </div>
</section>