<header class="intro">
    <div class="intro-body">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase brand-heading">
                        <img class="img-fluid" src="img/logo-vert.png" alt="{{ site.title }}" />
                    </h1>
                    <p class="text-white-50 mx-auto mt-2 mb-5 intro-text">{{ site.description }}<br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
